.item-segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.item-icon {
  margin-right: 2rem !important;
}

.item-resource {
  color: black !important;
}

.item-header {
  color: black !important;
  margin-bottom: 0 !important;
}

.item-info {
  margin-left: 2rem !important;
}

.item-resource-label {
  margin: 0.5rem !important;
}

.item-deny {
  display: inherit;
  float: right;
}

.item-content {
  width: 100%;
}
