.layout {
   padding: 4rem;
  .tab-container {
    position: relative;
    .title-header {
      position: absolute;
      top: 2rem;
      left: 0;
      font-size: 3rem;
    }
  }
 }
.right-tab {
  .ui.tabular.menu {
    justify-content: flex-end;
  }
  .ui.bottom.attached.segment.active.tab {
    padding: 0;
  }
}
