.layout {
   padding: 32px;
  .tab-container {
    position: relative;
    .title-header {
      position: absolute;
      top: 16px;
      left: 0;
      font-size: 3rem;
    }
  }
 }
.right-tab {
  .ui.tabular.menu {
    justify-content: flex-end;
  }
}
